<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Catalog App</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Catalog</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{url_for('showCategories')}}">Home</a></li>
      <li><a id="addItem" href="{{url_for('addItem')}}">Add Item</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a id="login" href="{{url_for('showLogin')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <h1>Add Item</h1>

        <form action="{{url_for('addItem')}}" method="POST">
            <p>Category</p>
            <input type="radio" id="existingCatRadio" onclick="enableOptions()" name="category">Existing Category:
            <select id="existingCat" name="catName" disabled>
            {% for a in allCats %}
              <option value="{{a.name}}">{{a.name}}</option>
            {% endfor %}
            </select><br>

            <input type="radio" id="newCatRadio" onclick="enableOptions()" name="category">New Category:
            <input type="text" id="newCat" name="catName" disabled><br>

            <p>Title</p>
            <input type="text" name="name">

            <p>Description</p>
            <input type="text" name="desc">

            <input type="submit" value="Create">
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% for message in messages %}
            <strong> {{ message }} </strong>
        {% endfor %}

        {% endif %}
        {% endwith %}

        <a href="{{url_for('showCategories')}}">Cancel</a><br>

        <script>
        function enableOptions() {
            if(document.getElementById('existingCatRadio').checked)
            {
                document.getElementById("existingCat").disabled = false;
                document.getElementById("newCat").disabled = true;
            }
            else if(document.getElementById('newCatRadio').checked)
            {
                document.getElementById("existingCat").disabled = true;
                document.getElementById("newCat").disabled = false;
            }
        }
        </script>
</div>
</body>
</html>