<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog App</title>
</head>
<body>
    <h1>Delete Item</h1>
    <form action="{{url_for('deleteItem', category=item.cat_name, item=item.name)}}" method="POST">
        <p>Are you sure you want to delete {{item.name}} from {{item.cat_name}} ?</p>
        <input type="submit" value="Delete">
    </form>
    <a href="{{url_for('itemInfo', category=item.cat_name, item=item.name)}}">Cancel</a>

</body>
</html>