<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Catalog App</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Catalog</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a id="addItem" href="{{url_for('addItem')}}">Add Item</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a id="logout" href="{{url_for('disconnect')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      <li><a id="login" href="{{url_for('showLogin')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <h1>Categories</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
        <strong> {{ message }} </strong>
    {% endfor %}

    {% endif %}
    {% endwith %}


    <!--<br><a id="login" href="{{url_for('showLogin')}}">Login</a>-->
    <!--<a id="logout" href="{{url_for('disconnect')}}">Logout</a><br>-->
    <!--<a id="addItem" href="{{url_for('addItem')}}">Add Item</a><br>-->
    {% for cat in categories %}
    <ul>
        <li><a style="text-decoration: none" href="{{url_for('showItems', category=cat.name)}}"> {{cat.name}}</a> </li>
    </ul>
    {%endfor%}

    <script>

        if ({{loginStatus}} == 1){
            document.getElementById("login").setAttribute("style","display:none");
            document.getElementById("logout").setAttribute("style","display:inline-block");
            document.getElementById("addItem").setAttribute("style","display:inline-block");
        }
        else{
            document.getElementById("login").setAttribute("style","display:inline-block");
            document.getElementById("logout").setAttribute("style","display:none");
            document.getElementById("addItem").setAttribute("style","display:none");
        }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>-->
</div>
</body>
</html>